body {
	background-color: #7EC3B0;
}
.board {
	display: block;
}
.column {
	border: 1px solid black;
	background-color: #E27D5F;
	display: block;
	max-width: 30%;
	width:250px;
}
.column-container {
	display: block;
}
.card {
	background-color: #85CDCA;
}